$font-color-of-pictures: rgba(255, 255, 255, 1);





@media (width <=900px) {
  body {
    margin: 0;
    overflow-x: hidden;
  }

  .apex {
    width: 100%;
    height: 275px;
  }

  .info-container {
    position: relative;
    top: 40px;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .logo {
    width: 107px;
    height: 33px;
  }

  .icon-burger-menu {
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    position: relative;
    right: 27px;
  }

  .menu-navigation {
    flex-direction: column;
    position: absolute;
    top: 52px;
    right: -12px;
    transform: translateX(100%);
    transition: all .6s ease;

    &.opend {
      transform: translateX(0);
    }

    &.close {
      transform: translateX(100%);
    }
  }

  .first-screen-container {
    overflow: hidden;
    display: flex;
    height: 87pc;
  }

  .background {
    height: 1374px;
    object-fit: cover;
    object-position: top left;
  }

  .info-text-container {
    position: relative;
    top: 140px;

  }

  .header-text {
    left: 10px;
    width: 40px;
  }

  .subheading-text {
    position: relative;
    top: 164px;
    left: 6px;
    width: 313px;
  }

  .about-company-button {
    position: relative;
    top: 183px;
  }

  .types-services-container {
    position: relative;
    top: 128px;
    flex-direction: column;

  }

  .frame-content {
    margin: 10px;
    width: 262px;
    height: 162px;
    top: 218px;
  }

  $card-description-height: 40px;

  .text-of-frame-content {
    height: $card-description-height;
  }

  .shipment {
    height: calc(100% - $card-description-height);
  }

  .service-description-container {
    display: flex;
  }

  .info-text-service-container {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .title-service {
    width: 70%;
  }

  .frame-title-service-container {
    flex-direction: column;
  }

  .types-services-container-big {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 35px;

  }

  .frame-content-big-container {
    width: 320px;
  }

  .company-information-and-rate-request-container {
    overflow: hidden;
    flex-direction: column;

  }

  .company-description-and-rate-request-and-video {
    flex-direction: column;
  }

  .info-text-company-description {
    white-space: break-spaces;
    box-sizing: border-box;
    width: 279px;
    overflow: hidden;

  }

  ol {
    padding: 0 18px;
    box-sizing: border-box;
  }

  .video {
    width: 344px;
    height: 275px;

  }

  .rate-request-container {
    width: 339px;
    height: 170px;
    top: 25px;
  }

  .rate-request-header {
    padding: 19px 38px;
  }

  .rate-request-description {
    padding: 4px 36px;
  }



  .description-of-company-news-container {
    width: 100%;
  }

  .news-card {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
  }

  .header-and-jump-button {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .all-news-button {
    width: 172px;
    background-position: right 53px top 53%;

  }

  .news-card-container {
    width: 100%;
    margin: auto;
    overflow: hidden;

  }

  .newsletter {
    left: 29px;
    //display: none;
  }

  .active {
    display: block;
    /* Показываю активную новость */
  }

  .description-news {
    width: 82%;
  }

  .description-footer {
    width: 100%;

  }

  .address-and-phone-number {
    flex-direction: column;
    gap: 18px
  }

  .phone-and-mail {
    width: 295px;
    position: relative;
    right: 26px;
  }

  .info-about-the-legal-entity-procurement-shareholders-about-the-company {
    flex-direction: column;
  }

  .legal-entity-information,
  .procurement,
  .shareholders,
  .about-the-company {
    padding: 0 0 40px;

  }

  .footer-container {
    top: 257px;
  }

  .button-slider-left {
    position: absolute;
    border: 1px solid red;
    width: 30px;
    height: 246px;
    bottom: 145px;
  }

  .button-slider-right {
    position: absolute;
    border: 1px solid red;
    width: 30px;
    height: 246px;
    right: 0;
    bottom: 145px;

  }

  .tns-ovh {
    position: relative;
    width: 100%;
    height: 100%;
  }


}

@media (width > 900px) {
  body {
    padding: 0 12px;
  }

  .info-container {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1296px;
  }

  .burger-menu-button {
    display: none !important;
  }

  .menu-navigation {
    position: relative;
    gap: 75px;
  }

  .burger-menu-900 {
    position: absolute;
    left: 810px;
  }

  .first-screen-container {
    height: 750px;
    display: flex;
    justify-content: center;
  }

  .background {
    height: 750px;

  }

  .text-of-company-and-types-of-services-container {
    display: flex;
    justify-content: center;
  }

  .info-text-container {
    height: 336px;
    margin-top: 180px;
    left: 125px;
  }

  .header-text {
    width: 526px;
  }

  .subheading-text {
    margin-top: 30px;
    width: 322px;
  }

  .about-company-button {
    margin-top: 40px;
  }

  .types-services-container {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    left: 134px;
    justify-content: center;

  }

  .frame-content {
    width: 306px;
    height: 250px;

  }

  .text-of-frame-content {
    font-size: 19px;
    line-height: 26.6px;
    position: absolute;
    transform: translateX(-50%);
  }

  .service-description-container {
    display: flex;
    justify-content: center;
    background-color: $main-fill-color;
  }

  .frame-title-service-container {
    align-items: center;
  }

  .info-text-service-container {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .description-services-and-service-cards-container {
    display: flex;
  }

  .types-services-container-big {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 20px;

  }

  .frame-content-big-container {
    width: 416px;
    position: relative;
    height: 223px;
    border-radius: 20px;
    background-color: rgba(61, 52, 139, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }

  .info-text-company-description {
    width: 636px;
  }

  .video-and-rate-request-container {

    left: 71px;
  }

  .video {
    width: 526px;
    height: 350px;
  }

  .rate-request-container {

    width: 526px;
    height: 170px;
    top: 52px;
  }

  .rate-request-header {
    height: 18px;
    padding: 36px;
  }

  .rate-request-description {
    margin-left: 72px;
  }

  .news-container {
    justify-content: center;
    padding: 18px 0;
  }

  .description-of-company-news-container {
    width: 1296px;
  }

  .news-card-container {
    gap: 18px;
  }

  .header-and-jump-button {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 56px;
  }

  .header-company-news-container {
    width: 85%;
    height: 56px;

  }

  .all-news-button {
    width: 150px;
    height: 39px;
    gap: 15px;
    background-position: right 0px top 40%;

  }

  .description-footer {
    background-color: rgb(61, 52, 139);
    width: 1296px;

  }

  .address-and-phone-number {
    height: 110px;
    width: 100%;
    justify-content: space-between;

  }

  .addres {
    gap: 20px;
  }

  .footer-container {
    top: 200px
  }

  .button-slider-left {
    display: none !important;
  }

  .button-slider-right {
    display: none !important;
  }


}