.news-container {
    position: relative;
    width: 100%;
    display: flex;
}

.description-of-company-news-container {
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.header-and-jump-button {
    position: relative;
    width: 100%;
    display: flex;
    
}

.header-company-news-container {
    font-family: $main-font;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
}

.all-news-button {
    width: 150px;
    height: 39px;
    gap: 15px;
    background: url("./img/Group 47 (1).png") no-repeat;
    background-position: right 0px top 40%;
    border: none;
    font-family: $main-font;
    font-weight: 700;
    font-size: 16px;
    line-height: 22.4px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.news-card-container {
    position: relative;
    width: 700px;
    display: flex;
    gap:18px;
    top: 60px;
    border-radius: 20px;
}

.newsletter {
    position: relative;
    width: 400px;
    height: 259px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-date {
    position: relative;
    font-family: $main-font;
    font-weight: 700;
    font-size: 20px;
    line-height: 22.4px;
    margin-top: 24px;
}

.text-news {
    position: relative;
    margin-top: 24px;
}

.header-news {
    font-family: $main-font;
    font-weight: 700;
    font-size: 20px;
    line-height: 26.4px;
}

.description-news {
    font-family: $main-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-top: 26px;
}
.img-news{
    width: 306px;
    height: 214px;
}