@charset "UTF-8";
@import "./calculatorPage.css";
.service-description-container {
  position: relative;
  width: 100%;
  padding: 76px 0;
}

.description-services-and-service-cards-container {
  position: relative;
  width: 1296px;
}

.header-service {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  color: rgb(7, 6, 6);
}

.frame-title-service-container {
  display: flex;
  justify-content: space-between;
  padding: 17px 0;
}

.title-service {
  color: rgb(61, 52, 139);
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
}

.png-file-link {
  background-color: rgba(127, 255, 212, 0);
  background-position: right 0px top 40%;
  background-repeat: no-repeat;
}

.frame-content-big-container {
  position: relative;
  height: 223px;
  border-radius: 20px;
  background-color: rgb(61, 52, 139);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.company-information-and-rate-request-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 100px 0 110px;
}

.company-description-and-rate-request-and-video {
  position: relative;
  width: 1296px;
  height: 100%;
  display: flex;
  box-sizing: content-box;
}

.text-of-company-container {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.header-text-of-company-container {
  height: 56px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  color: rgb(7, 6, 6);
  width: 210px;
  white-space: nowrap;
}

.info-text-company-description {
  position: relative;
  top: 60px;
}

.subtitle {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  color: rgb(7, 6, 6);
  position: relative;
}

.paragraph {
  position: relative;
  top: 8px;
}

.numbering {
  position: relative;
  padding: 0 0 11px;
}

.video-and-rate-request-container {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.video-container {
  position: relative;
  display: flex;
}

.video {
  position: relative;
}

.rate-request-container {
  position: relative;
  text-decoration: none;
  background-color: rgb(93, 183, 222);
  border-radius: 20px;
}

.rate-request-container:hover {
  background-color: rgba(3, 74, 74, 0.5411764706);
}

.rate-request-header {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 18.2px;
  color: #fff;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.rate-request-description {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 26.6px;
  color: #fff;
}

.news-container {
  position: relative;
  width: 100%;
  display: flex;
}

.description-of-company-news-container {
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.header-and-jump-button {
  position: relative;
  width: 100%;
  display: flex;
}

.header-company-news-container {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
}

.all-news-button {
  width: 150px;
  height: 39px;
  gap: 15px;
  background: url("./img/Group 47 (1).png") no-repeat;
  background-position: right 0px top 40%;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22.4px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.news-card-container {
  position: relative;
  width: 700px;
  display: flex;
  top: 60px;
  border-radius: 20px;
  height: 417px;
}

.newsletter {
  position: relative;
  width: 400px;
  height: 259px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-date {
  position: relative;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 22.4px;
  margin-top: 24px;
}

.text-news {
  position: relative;
  margin-top: 24px;
}

.header-news {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26.4px;
}

.description-news {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 26px;
}

.img-news {
  width: 306px;
  height: 214px;
}

.footer-container {
  position: relative;
  width: 100%;
  display: flex;
  background-color: rgb(61, 52, 139);
  justify-content: center;
}

.description-footer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.address-and-phone-number {
  background-color: rgb(61, 52, 139);
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.addres {
  position: relative;
  display: flex;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 200;
  font-size: 20px;
  line-height: 56px;
  color: white;
}

.logo-white {
  display: flex;
}

.info-about-the-legal-entity-procurement-shareholders-about-the-company {
  background-color: rgb(61, 52, 139);
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 59px;
}

.header-legal-entity,
.header-procurement,
.header-shareholders,
.header-about-the-company {
  position: relative;
  width: 306px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 22.4px;
  color: white;
  margin-top: 10px;
}

.text {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 22.4px;
  color: white;
  margin-top: 24px;
  text-decoration: none;
}

.procurement,
.shareholders,
.about-the-company {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0 12px;
  display: flex;
  justify-content: center;
}

.apex {
  display: flex;
  justify-content: center;
}

.logo {
  position: relative;
}

.menu-navigation {
  display: flex;
}

.enumeration-menu-navigation {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  text-decoration: none;
  color: rgb(51, 51, 51);
  cursor: pointer;
  text-wrap: nowrap;
}

.enumeration-menu-navigation:hover {
  background-color: rgba(3, 74, 74, 0.5411764706);
}

.input-with-icon {
  background: url("./img/ic_round-search.png") no-repeat;
  width: 194px;
  height: 24px;
  gap: 20px;
  border: none;
}

.language {
  width: 40px;
  height: 22px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22.4px;
  border: none;
  color: rgb(51, 51, 51);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("./img/material-symbols_keyboard-arrow-down-rounded.png");
  background-repeat: no-repeat;
  background-position: right 0px top 50%;
}

.first-screen-container {
  position: relative;
  width: 100%;
}

.background {
  position: absolute;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.text-of-company-and-types-of-services-container {
  position: relative;
  width: 1296px;
  height: 100%;
  box-sizing: border-box;
}

.info-text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.header-text {
  position: relative;
  height: 140px;
  color: rgb(255, 255, 255);
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
}

.subheading-text {
  height: 66px;
  color: rgb(255, 255, 255);
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
}

.about-company-button {
  background-image: url("./img/Group 7.png");
  width: 159px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: right 15px top 45%;
  background-color: rgba(28, 28, 28, 0);
  cursor: pointer;
}

.about-company-button:hover {
  background-color: rgba(3, 74, 74, 0.5411764706);
}

.text-of-button {
  width: 114px;
  height: 22px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22.4px;
  background-color: rgba(245, 231, 231, 0);
  border: none;
  color: rgb(255, 255, 255);
}

.types-services-container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  -o-object-fit: cover;
     object-fit: cover;
}

.frame-content {
  position: relative;
  border-radius: 20px;
  background-color: rgb(93, 183, 222);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.shipment {
  -o-object-fit: cover;
     object-fit: cover;
}

.text-of-frame-content {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  bottom: 0;
  left: 50%;
  text-align: center;
  width: 100%;
  background: rgb(33, 31, 31);
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (width <= 900px) {
  body {
    margin: 0;
  }
  .apex {
    width: 100%;
    height: 275px;
  }
  .info-container {
    position: relative;
    top: 40px;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .logo {
    width: 107px;
    height: 33px;
  }
  .icon-burger-menu {
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    position: relative;
    right: 27px;
  }
  .menu-navigation {
    flex-direction: column;
    position: absolute;
    top: 52px;
    right: 0;
    transform: translateX(100%);
    transform: translateX(0);
    transition: all 0.6s ease;
  }
  .first-screen-container {
    overflow: hidden;
    display: flex;
  }
  .background {
    height: 1374px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top left;
       object-position: top left;
  }
  .info-text-container {
    position: relative;
    top: 140px;
  }
  .header-text {
    left: 10px;
    width: 40px;
  }
  .subheading-text {
    position: relative;
    top: 164px;
    left: 6px;
    width: 313px;
  }
  .about-company-button {
    position: relative;
    top: 183px;
  }
  .types-services-container {
    position: relative;
    top: 128px;
    flex-direction: column;
  }
  .frame-content {
    margin: 10px;
    width: 262px;
    height: 162px;
    top: 218px;
  }
  .text-of-frame-content {
    height: 40px;
  }
  .shipment {
    height: calc(100% - 40px);
  }
  .service-description-container {
    display: flex;
  }
  .info-text-service-container {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .title-service {
    width: 70%;
  }
  .frame-title-service-container {
    flex-direction: column;
  }
  .types-services-container-big {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .frame-content-big-container {
    width: 320px;
  }
  .company-information-and-rate-request-container {
    overflow: hidden;
    flex-direction: column;
  }
  .company-description-and-rate-request-and-video {
    flex-direction: column;
  }
  .info-text-company-description {
    white-space: break-spaces;
    box-sizing: border-box;
    width: 279px;
    overflow: hidden;
  }
  ol {
    padding: 0 18px;
    box-sizing: border-box;
  }
  .video {
    width: 344px;
    height: 275px;
  }
  .rate-request-container {
    width: 339px;
    height: 170px;
    top: 25px;
  }
  .rate-request-header {
    padding: 19px 38px;
  }
  .rate-request-description {
    padding: 4px 36px;
  }
  .description-of-company-news-container {
    width: 100%;
  }
  .header-and-jump-button {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .all-news-button {
    width: 172px;
    background-position: right 53px top 53%;
  }
  .news-card-container {
    flex-direction: column;
    gap: 165px;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
  .newsletter {
    left: 29px;
    display: none;
  }
  .active {
    display: block;
    /* Показываю активную новость */
  }
  .description-news {
    width: 82%;
  }
  .description-footer {
    width: 100%;
  }
  .address-and-phone-number {
    flex-direction: column;
    gap: 18px;
  }
  .phone-and-mail {
    width: 295px;
    position: relative;
    right: 26px;
  }
  .info-about-the-legal-entity-procurement-shareholders-about-the-company {
    flex-direction: column;
  }
  .legal-entity-information,
  .procurement,
  .shareholders,
  .about-the-company {
    padding: 0 0 40px;
  }
  .footer-container {
    top: 257px;
  }
  .button-slider-left {
    position: absolute;
    border: 1px solid red;
    width: 30px;
    height: 246px;
    bottom: 145px;
  }
  .button-slider-right {
    position: absolute;
    border: 1px solid red;
    width: 30px;
    height: 246px;
    right: 0;
    bottom: 145px;
  }
}
@media (width > 900px) {
  body {
    padding: 0 12px;
  }
  .info-container {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1296px;
  }
  .burger-menu-button {
    display: none !important;
  }
  .menu-navigation {
    position: relative;
    gap: 75px;
  }
  .burger-menu-900 {
    position: absolute;
    left: 810px;
  }
  .first-screen-container {
    height: 750px;
    display: flex;
    justify-content: center;
  }
  .background {
    height: 750px;
  }
  .text-of-company-and-types-of-services-container {
    display: flex;
    justify-content: center;
  }
  .info-text-container {
    height: 336px;
    margin-top: 180px;
    left: 125px;
  }
  .header-text {
    width: 526px;
  }
  .subheading-text {
    margin-top: 30px;
    width: 322px;
  }
  .about-company-button {
    margin-top: 40px;
  }
  .types-services-container {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    left: 134px;
    justify-content: center;
  }
  .frame-content {
    width: 306px;
    height: 250px;
  }
  .text-of-frame-content {
    font-size: 19px;
    line-height: 26.6px;
    position: absolute;
    transform: translateX(-50%);
  }
  .service-description-container {
    display: flex;
    justify-content: center;
    background-color: #fff;
  }
  .frame-title-service-container {
    align-items: center;
  }
  .info-text-service-container {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .description-services-and-service-cards-container {
    display: flex;
  }
  .types-services-container-big {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 20px;
  }
  .frame-content-big-container {
    width: 416px;
    position: relative;
    height: 223px;
    border-radius: 20px;
    background-color: rgb(61, 52, 139);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }
  .info-text-company-description {
    width: 636px;
  }
  .video-and-rate-request-container {
    left: 71px;
  }
  .video {
    width: 526px;
    height: 350px;
  }
  .rate-request-container {
    width: 526px;
    height: 170px;
    top: 52px;
  }
  .rate-request-header {
    height: 18px;
    padding: 36px;
  }
  .rate-request-description {
    margin-left: 72px;
  }
  .news-container {
    justify-content: center;
    padding: 18px 0;
  }
  .description-of-company-news-container {
    width: 1296px;
  }
  .news-card-container {
    gap: 18px;
  }
  .header-and-jump-button {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 56px;
  }
  .header-company-news-container {
    width: 85%;
    height: 56px;
  }
  .all-news-button {
    width: 150px;
    height: 39px;
    gap: 15px;
    background-position: right 0px top 40%;
  }
  .description-footer {
    background-color: rgb(61, 52, 139);
    width: 1296px;
  }
  .address-and-phone-number {
    height: 110px;
    width: 100%;
    justify-content: space-between;
  }
  .addres {
    gap: 20px;
  }
  .footer-container {
    top: 200px;
  }
  .button-slider-left {
    display: none !important;
  }
  .button-slider-right {
    display: none !important;
  }
}/*# sourceMappingURL=main.css.map */